# DIABETES PREDICTION

In [76]:
import numpy as np
import pandas as pd

# IMPORTING DATASET

In [77]:
dataset = pd.read_csv("diabetes.csv")
dataset.head(11)

,Unnamed: 0,Pregnancies,Glucose,blood pressure,skin thickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,NaN,6.0,148.0,72.0,35.0,0.0,33.6,0.627,50.0,1.0
1,NaN,1.0,85.0,66.0,29.0,0.0,26.6,0.351,31.0,0.0
2,NaN,8.0,183.0,64.0,0.0,0.0,23.3,0.672,32.0,1.0
3,NaN,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0.0
4,NaN,0.0,137.0,40.0,35.0,168.0,43.1,2.288,33.0,1.0
5,NaN,5.0,116.0,74.0,0.0,0.0,25.6,0.201,30.0,0.0
6,NaN,3.0,78.0,50.0,32.0,88.0,31.0,0.248,26.0,1.0
7,NaN,10.0,115.0,0.0,0.0,0.0,35.3,0.134,29.0,0.0
8,NaN,2.0,197.0,70.0,45.0,543.0,30.5,0.158,53.0,1.0
9,NaN,8.0,125.0,96.0,0.0,0.0,0.0,0.232,54.0,1.0
10,NaN,4.0,110.0,92.0,0.0,0.0,37.6,0.191,30.0,0.0

# Analyzing dataset

In [78]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 769 entries, 0 to 768
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                0 non-null      float64
 1   Pregnancies               768 non-null    float64
 2   Glucose                   768 non-null    float64
 3   blood pressure            768 non-null    float64
 4   skin thickness            768 non-null    float64
 5   Insulin                   768 non-null    float64
 6   BMI                       768 non-null    float64
 7   DiabetesPedigreeFunction  768 non-null    float64
 8   Age                       768 non-null    float64
 9   Outcome                   768 non-null    float64
dtypes: float64(10)
memory usage: 60.1 KB

In [79]:
dataset=dataset[0:600]
dataset['Outcome']=dataset['Outcome'].astype(int)
dataset['Insulin']=dataset['Insulin'].astype(int)
dataset=dataset.drop(['Unnamed: 0'],axis=1)

In [80]:
dataset['Outcome'].isnull().sum()

0

In [81]:
X = dataset.iloc[:,:-1]
y = dataset.iloc[:,-1]
X=X[0:600]
y=y[0:600]
print(x)

     Unnamed: 0  Pregnancies  Glucose  blood pressure  skin thickness  \
0           NaN          6.0    148.0            72.0            35.0
1           NaN          1.0     85.0            66.0            29.0
2           NaN          8.0    183.0            64.0             0.0
3           NaN          1.0     89.0            66.0            23.0
4           NaN          0.0    137.0            40.0            35.0
..          ...          ...      ...             ...             ...
764         NaN          2.0    122.0            70.0            27.0
765         NaN          5.0    121.0            72.0            23.0
766         NaN          1.0    126.0            60.0             0.0
767         NaN          1.0     93.0            70.0            31.0
768         NaN          NaN      NaN             NaN             NaN

     Insulin   BMI  DiabetesPedigreeFunction   Age
0        0.0  33.6                     0.627  50.0
1        0.0  26.6                     0.351  31.0
2        0.0  23.3                     0.672  32.0
3       94.0  28.1                     0.167  21.0
4      168.0  43.1                     2.288  33.0
..       ...   ...                       ...   ...
764      0.0  36.8                     0.340  27.0
765    112.0  26.2                     0.245  30.0
766      0.0  30.1                     0.349  47.0
767      0.0  30.4                     0.315  23.0
768      NaN   NaN                       NaN   NaN

[769 rows x 9 columns]

# Splitting data

In [82]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 25, random_state = 0)

# Applying classifiers AND evaluation

# LOGISTIC REGRESSION

In [85]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,r2_score,classification_report
logreg = LogisticRegression(solver = 'lbfgs', max_iter=1000)
logreg.fit(X_train, y_train)
y_pred = logreg.predict(X_test)
acc_logreg1 = round(accuracy_score(y_pred, y_test),2)*100
print("Accuracy : ", acc_logreg1)

Accuracy :  84.0